# Python ignores
__pycache__/
*.py[cod]
*$py.class
*.egg*
*.manifest
.cache/
htmlcov/
.coverage
venv/
ENV/

node_modules/

.DS_Store

*checkpoint*
*.tfl*
*.meta
data/
models/
*.png
*.txt
*.json
*.csv
*.log
