# Python ignores
__pycache__/
*.py[cod]
*$py.class
*.egg*
*.manifest
.cache/
htmlcov/
.coverage
venv/
ENV/

.DS_Store
*.png
*.txt

# models
*checkpoint*
*.tfl*
*.meta
mnist/
17flowers/
data/
dbpedia_data/
models/