six==1.10.0
h5py==2.6.0
numpy==1.11.1
scipy==0.18.0
matplotlib==1.4.3
pandas==0.18.1
pytest-cov==2.4.0
hyperopt==0.1
git+https://github.com/openai/gym.git
https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-0.12.1-py3-none-any.whl
Theano==0.8.2
Keras==1.1.0
